.my-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 100px;
}
.has-blue.background {
    background-color: red;
    border: 1px solid #721EE3;
}

.has-yellow-background{
    background-color: #faf7a7;
    border: 1px solid #e38c1e;
}
